@import "@fontsource/inter/latin.css";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #F3F3F3;
  --color-secondary: #AFAFAF;
  --color-tertiary: #5C5C5C;

  --color-bg-default: #1B1C21;
  --color-bg-surface: #2A2B31;
  --color-bg-muted: #18191D;

  --color-surface-2: #2B2C33;
  --color-surface-3: #34353D;

  --color-text-secondary: #AFAFAF;
  --color-text-muted: #5C5C5C;

  --color-surface-strong: #2E2F36;
  --color-surface-hover: #3A3B44;
}
